/* 

    Products Component Styling


*/

.products {

    width: 100%;
    height: 100%;
    scroll-margin-top: 80px;
    padding: 0 20px;
    padding-bottom: 40px;
  
  }
  
  .list {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    flex: 1;
  }
  
  .product {
    width: 100%;
  }
  
  /* 
  
      Header Component Styles
  
  */
  
  .header {
  
    margin: 40px 0;
  }
  
  .header h2 {
  
    text-align: center;
    font-weight: 700;
    margin: 0;
    font-size: clamp(1rem, 15vw, 5rem);
  
  }
  
  /*  
  
      Media Queries
  
  */
  
  @media (min-width: 728px) {
    .list {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }
  
    .product {
      width: calc(50% - 30px);
    }
  }
  
  @media (min-width: 1024px) {
  
    .product {
      width: calc(33% - 30px);
    }
  }
  
  @media (min-width: 1280px) {
  
    .product {
      width: calc(25% - 30px);
    }
  
  }