.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 5vh auto;
    color: #707070;
}

.form {
    display: flex;
    flex-direction: column;
    gap: rem;
}

.form label {
    margin-bottom: 10px;
}

.form input[type="text"], .form input[type="email"], .form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form input[type="submit"] {
    width: 30%;
    margin-top: 10px;
    padding: 10px;
    background-color: #FA96AA;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.form  input[type="submit"]:hover {
    background-color: #FA96AA;
}