.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

.headerImg{
    position: relative;
}

.headerText{
    padding: 2rem;
    /* background-color: #000000CC; */
    color: white;
    position: absolute;
    text-align: center;
}

.headerText h1{
    font-size: 54px;
}